<!DOCTYPE html>
<html>
  <head>
    <title>VVV-Wermelskirchen</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>

  <div class="mx-0 mx-lg-5 px-lg-5 text-center">
    <!-- VVV Image -->
    {% load static %}
    <img src="{% static 'logo.png' %}" alt="Logo" />
    <!-- VVV Image -->

    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #6e9626"
    >
      <div class="container-fluid text-white">
        <a class="navbar-brand" href="https://www.vvv-wermelskirchen.de/"
          >VVV-Wermelskirchen</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="">Karte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Administration</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->

    <!-- Page content -->
    <div class="container" id="Filler"></div>
    {% block 'body' %} {% endblock %}
    <div class="container" id="Filler"></div>
    <!-- Page content -->

    <!-- Footer -->
    <footer
      class="text-center text-lg-start text-white"
      style="background-color: #6e9626"
      id="footer"
    >
      <!-- Copyright -->
      <div class="text-center p-3 text-white">
        Weitere Informationen auf der
        <a class="text-white" href="https://www.vvv-wermelskirchen.de/"
          >Website des VVV-Wermelskirchen</a
        >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>

  <style>
    #footer {
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin-bottom: 0px;
    }
  </style>
</html>
